@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* Light theme variables */
    --light-background: 0 0% 100%;
    --light-foreground: 220 25% 2.8%;
    --light-muted: 220 15% 86.8%;
    --light-muted-foreground: 220 20% 45.6%;
    --light-popover: 220 15% 94.3%;
    --light-card: 220 15% 94.3%;
    --light-border: 220 15% 86.8%;
    --light-input: 220 15% 86.8%;
    --light-primary: 220 90% 56%;
    --light-primary-foreground: 220 10% 97.2%;
    --light-secondary: 220 15% 86.8%;
    --light-secondary-foreground: 220 25% 2.8%;
    --light-accent: 220 15% 86.8%;
    --light-accent-foreground: 220 25% 2.8%;
    --light-destructive: 0 85% 69.4%;
    --light-destructive-foreground: 0 0% 98%;
    --light-ring: 220 90% 56%;

    /* Dark theme variables */
    --dark-background: 220 65% 3.52%;
    --dark-foreground: 220 10% 97.2%;
    --dark-muted: 220 50% 13.2%;
    --dark-muted-foreground: 220 10% 54.4%;
    --dark-popover: 220 45% 5.72%;
    --dark-card: 220 45% 5.72%;
    --dark-border: 220 50% 13.2%;
    --dark-input: 220 50% 13.2%;
    --dark-primary: 220 100% 44%;
    --dark-primary-foreground: 220 10% 97.2%;
    --dark-secondary: 220 50% 13.2%;
    --dark-secondary-foreground: 220 10% 97.2%;
    --dark-accent: 220 50% 13.2%;
    --dark-accent-foreground: 220 10% 97.2%;
    --dark-destructive: 0 62.8% 30.6%;
    --dark-destructive-foreground: 220 10% 97.2%;
    --dark-ring: 220 100% 44%;

    /* Common variables */
    --radius: 0.5rem;

    /* Set default (light) theme */
    --background: var(--light-background);
    --foreground: var(--light-foreground);
    --muted: var(--light-muted);
    --muted-foreground: var(--light-muted-foreground);
    --popover: var(--light-popover);
    --popover-foreground: var(--light-foreground);
    --card: var(--light-card);
    --card-foreground: var(--light-foreground);
    --border: var(--light-border);
    --input: var(--light-input);
    --primary: var(--light-primary);
    --primary-foreground: var(--light-primary-foreground);
    --secondary: var(--light-secondary);
    --secondary-foreground: var(--light-secondary-foreground);
    --accent: var(--light-accent);
    --accent-foreground: var(--light-accent-foreground);
    --destructive: var(--light-destructive);
    --destructive-foreground: var(--light-destructive-foreground);
    --ring: var(--light-ring);
  }

  .dark {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --muted: var(--dark-muted);
    --muted-foreground: var(--dark-muted-foreground);
    --popover: var(--dark-popover);
    --popover-foreground: var(--dark-foreground);
    --card: var(--dark-card);
    --card-foreground: var(--dark-foreground);
    --border: var(--dark-border);
    --input: var(--dark-input);
    --primary: var(--dark-primary);
    --primary-foreground: var(--dark-primary-foreground);
    --secondary: var(--dark-secondary);
    --secondary-foreground: var(--dark-secondary-foreground);
    --accent: var(--dark-accent);
    --accent-foreground: var(--dark-accent-foreground);
    --destructive: var(--dark-destructive);
    --destructive-foreground: var(--dark-destructive-foreground);
    --ring: var(--dark-ring);
  }

  .game-theme {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
  }
}

::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

::-webkit-scrollbar {
  width: 5px;
  background-color: hsl(var(--background));
  border-radius: 8px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

.card-mask {
  background: radial-gradient(ellipse at center, rgba(0, 75, 224, 0.15), transparent);
}

.gradient {
  background: conic-gradient(from 230.29deg at 51.63% 52.16%, rgb(36, 0, 255) 0deg, rgb(0, 135, 255) 67.5deg, rgb(108, 39, 157) 198.75deg, rgb(24, 38, 163) 251.25deg, rgb(54, 103, 196) 301.88deg, rgb(105, 30, 255) 360deg);
}

.lamp {
  opacity: 1;
  transform: translateY(-200px) rotate(180deg) scale(2) translateZ(0px);
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}